<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tech Blog</title>
    <link rel="icon" type="image" href="image/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="assets/mvc.css" />
    <script src="assets/mvc.js"></script>
  </head>
  <h1>Techtastic!</h1>
  <body>
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <link rel="icon" type="image" href="image/favicon.ico">
          </a>
      
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Log In
            </a>
            <a class="navbar-item">
              Post
            </a>
            <a class="navbar-item">
              Dashboard
            </a>
          </div>
        </div>
      </nav>

          <!-- navbar items, navbar burger... -->
        </div>
      </nav>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <script src="" async defer></script>
  </body>
</html>
